.center {
  text-align: center;
}

.accepted {
  color: green;
}

.rejected {
  color: red;
}

.waitlisted {
  color: orange;
}

.taccepted {
  color: blue;
}

.middle {
  vertical-align: middle !important;
}

.clickable {
  cursor: pointer;
}

.hover > td,
.hover > th {
  background-color: #aeaeae !important;
}
