.center {
  text-align: center;
}

.center-file-field {
  display:  inline-block;
}

.left {
  float: left;
}

.accepted {
  color: green;
}

.rejected {
  color: red;
}

.waitlisted {
  color: orange;
}

.taccepted {
  color: blue;
}

.middle {
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}

.hover > td,
.hover > th {
  background-color: #aeaeae !important;
}

.group-stripe > td,
.group-stripe > th {
  background-color: #f9f9f9;
}

.email-text {
  margin-bottom: 15px;
}

.email-label {
  margin: 5px 15px 0 15px;
  font-size: large;
}

.email-btn {
  float: left;
  width: 200px !important;
}

table.hacker-table tr:hover td {
  background-color: #aeaeae;
}
